@import "~bootstrap/scss/bootstrap";

h1,
p {
  font-family: Lato;
}

.maze {
  white-space: nowrap;
}

.cell {
  display: inline-flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  font-size: 16px;
}

.active {
  background: rgba(0, 0, 0, 0.5);
}

.cell-border-left {
  border-left: 1px solid $gray-700;
}
.cell-border-right {
  border-right: 1px solid $gray-700;
}
.cell-border-top {
  border-top: 1px solid $gray-700;
}
.cell-border-bottom {
  border-bottom: 1px solid $gray-700;
}

.main-menu {
  margin-bottom: 20px;
}

/* hides the text */
.completed {
  color: rgba(0, 0, 0, 0);
  color: transparent;
}

.error-text {
  margin: 20px 0;
  color: #dc0000;
}

.chance-label-hint:hover {
  cursor: help;
}
