h1,
p {
  font-family: Lato;
}

.cell {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.focused {
  background: rgba(0, 0, 0, 0.5);
}

.border-left {
  border-left: 1px solid black;
}
.border-right {
  border-right: 1px solid black;
}
.border-top {
  border-top: 1px solid black;
}
.border-bottom {
  border-bottom: 1px solid black;
}
