h1,
p {
  font-family: Lato;
}

.cell {
  display: inline-flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  font-size: 16px;
}

.active {
  background: rgba(0, 0, 0, 0.5);
}

.border-left {
  border-left: 1px solid black;
}
.border-right {
  border-right: 1px solid black;
}
.border-top {
  border-top: 1px solid black;
}
.border-bottom {
  border-bottom: 1px solid black;
}

.button {
  width: 100px;
  height: 30px;
  border: 1px solid #999;
  margin: 10px 0;
  cursor: pointer;
}

/* hides the text */
.completed {
  color: rgba(0, 0, 0, 0);
  color: transparent;
}
